# Arquivos e diretórios padrão de Java
*.class
*.jar
*.war
*.ear

# Diretórios de compilação
bin/
build/
out/

# Dependências geradas pelo Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Dependências geradas pelo Gradle
.gradle/
build/

# Arquivos de configuração específicos da IDE
# IntelliJ IDEA
.idea/
*.iml
*.iws

# Eclipse
.project
.classpath
.settings/

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Arquivos específicos do sistema operacional
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# Logs
logs/
*.log

# Arquivos de configuração específicos do ambiente
.env

# Arquivos específicos do JavaFX
# Cache de renderização (caso você use)
*.rendercache/
rendercache/

# Arquivos de deploy e pacotes gerados
*.jfx/

# Arquivos específicos do NetBeans (caso você use o NetBeans com JavaFX)
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
